Checks: >
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  bugprone-*,
  -clang-diagnostic-error,

WarningsAsErrors: ''
HeaderFilterRegex: '(main|components)/.*'
FormatStyle: file
