[submodule "submodules/motor_driver"]
	path = submodules/motor_driver
	url = git@github.com:FranciszekJanicki/motor_driver.git
[submodule "submodules/a4988"]
	path = submodules/a4988
	url = git@github.com:FranciszekJanicki/a4988.git
[submodule "submodules/as5600"]
	path = submodules/as5600
	url = git@github.com:FranciszekJanicki/as5600.git
[submodule "submodules/pid_regulator"]
	path = submodules/pid_regulator
	url = git@github.com:FranciszekJanicki/pid_regulator.git
[submodule "submodules/step_motor"]
	path = submodules/step_motor
	url = git@github.com:FranciszekJanicki/step_motor.git
[submodule "submodules/STM32CubeL4"]
	path = submodules/STM32CubeL4
	url = git@github.com:STMicroelectronics/STM32CubeL4.git
